<div class="container">
    <div class="erreur row align-content-center">
        <div class="error-template text-center col-12">
            <h1 class="my-4 text-danger">
                Désolé
            </h1>
            <h2 class="text-danger">
                @ViewBag.message
            </h2>
        </div>

    </div>
</div>

<style>
    .erreur {
        height: 25rem;
    }

    .error-template {
        height: 12.5rem;
    }
</style>


