



<nav class="navbar navbar-expand-sm  navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3 ">


    <a class="navbar-brand" href=@Url.Action("Index","Home")>
        <img src="/logo/Tirelire.png" width="40" height="40" alt="logo" loading="lazy">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

        <ul class="navbar-nav flex-grow-1 justify-content-around pt-3">

            @*COMMANDE*@
            <li class="nav-item pt-1">
                <a class="nav-link text-dark pb-3" asp-area="" asp-controller="Commande" asp-action="Cmde"><span>Commande</span> </a>
            </li>

            @*LOGOUT*@
            <li class="nav-item pt-1">
                <a class="nav-link text-dark pb-3" asp-area="" asp-controller="Account" asp-action="Logout">Se Déconnecter</a>
            </li>

            @*PANIER*@
            <li class="nav-item">
                <a href="@Url.Action("DetailPanier","Panier")" class="nav-link text-dark">
                    @*<i class="fas fa-shopping-cart"></i>*@
                    <img src="~/logo/panier.png" width="30" height="30" alt="Logo Panier" />
                    @if (@ViewBag.totalPanier != 0)
                    {
                        <div class="nbProduit">@ViewBag.totalPanier</div>
                    }
                </a>
            </li>

            @*CLIENT*@
            <li class="nav-item">
                <img src="~/logo/user.png" width="25" height="25" alt="Logo Panier" />
                <br />
                <span>Bonjour,@User.Identity.Name</span>
            </li>

            @*VISITEURS*@
            <li class="nav-item pt-1">
                <span class="nav-link text-dark">Visiteur(s)(15)</span>
            </li>
        </ul>
    </div>

</nav>

