<h2>Test</h2>


<div class="ajax">
    <form class="form-group" action="" method="post">
        <input type="text" value="" name="txt" />
        <button class="btn btn-primary" type="submit">Envoyer</button>
    </form>
</div>

<label id="lbl">@ViewBag.text</label>


